<app-pre-loader *ngIf='!currentSummary'></app-pre-loader>
<!-- <app-pre-loader *ngIf='!window.navigator.geolocation'></app-pre-loader> -->
<div *ngIf='currentSummary' id="weather-block" [@expandShrink]="expand ? 'expand' : 'shrink'">
    <div class="expand-icon" (click)="isExpand()">
      <img src="../../assets/media/expand.png" [@expandShrink]="expand ? 'expandFlip' : 'shrinkFlip'">
    </div>

    <span *ngIf='showToday' class="weather-currently">
      <h1 class="current-temp">{{currentTemp}}&#176;</h1>
      <p class="current-date">{{currentDate | date:'MMMM dd, yyyy'}}</p>
      <p class="current-location" *ngIf="city">{{city}}</p>
      <p class="current-summary">{{weather.minutely.summary}}</p>
      <!-- <p>{{weather.daily.data}}</p> -->
      <app-skycon
      *ngIf='weatherIcon'
      [id]="getId"
      [icon]="weatherIcon">
      </app-skycon>
      <!-- <canvas id="sky" height="300" width="300"></canvas> -->
    </span>

    <app-detailed *ngIf='!showToday'
    [todayDate]='currentDate'
    [detailLat]='finalLat'
    [detailLng]='finalLng'
    [dailyWeather]='weather'
    >

    </app-detailed>

</div>



