

#weather-block{
  position: absolute;
  border-radius: 30px;
  background-color: rgba(215, 239, 250, .3);
  top: 10%;
  left: 0px;
  right: 0px;
  width: 65%;
  margin: 0 auto;
  height: 500px;

  @media screen and (max-width: 800px) {
    height: auto;
  }

  @media screen and (max-width: 1180px){
    width: 90%;
  }

  @media screen and (min-width: 1800px){
    width: 50%;
  }

  @media screen and (min-width: 2500px){
    width: 40%;
  }


  .expand-icon{
    float: right;
    display: inline-block;
    margin-top: 20px;
    margin-right: 20px;
    &:hover{
      cursor: pointer;
    }
  }
  h1.current-temp{
    font-size: 100px;
    margin-left: 85px;
    margin-top: 80px;
    letter-spacing: 5px;
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
     @media screen and (max-width: 800px) {
       margin-top: 20px;
     }
  }
  p.current-date,
  p.current-location{
    margin-left: 85px;
    font-size: 18px;
  }

  p.current-summary{
    margin-left: 85px;
    font-size: 24px;
    margin-top: 25px;
    max-width: 43%;
     @media screen and (max-width: 800px) {
       max-width: fit-content;
       text-align: center;
       margin: auto;
       margin-top: 40px;
       margin-bottom: 40px;
       margin-left: 85px;
     }
  }

  h4{
    font-family: 'Ubuntu';
  }

  h2 {
    margin-top: 35px;
  }
}



