#app-container{
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: #3C4145;

  h1, h4{
    color: white;
  }
  h1{
    margin-top: 15%;
  }
  h4{
    margin-top: 2%;
  }
}
